/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

body {
  font-family: sans-serif;
  background: url(./station.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

h2 {
  font-size: 50px;
}

.btn {
  padding: 8px 20px;
  background: #ededed;
  font-weight: bold;
  border-radius: 15px;
}
